.resman-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-width: 0px;
    transition: all 0.25s ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
}
.resman-btn:focus {
    outline: 0;
}
.resman-danger {
    color: #d9534f;
}
.resman-danger:hover {
    color: #f2f2f2;
    background-color: #d9534f;
}
.resman-cyan {
    color: #0fa1cf;
}
.resman-cyan:hover {
    color: #f2f2f2;
    background-color: #0fa1cf;
}
.resman-warning {
    color: #f0ad4e;
}
.resman-warning:hover {
    color: #f2f2f2;
    background-color: #f0ad4e;
}
.resman-slategray {
    color: #536781;
}
.resman-slategray:hover {
    color: #f2f2f2;
    background-color: #536781;
}
.resman-success {
    color: #5cb85c;
}
.resman-success:hover {
    color: #f2f2f2;
    background-color: #5cb85c;
}
.resman-left-border-radius {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.resman-no-border-radius {
    border-radius: 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.resman-all-border-radius {
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.resman-right-border-radius {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
    height: 6px !important;
    border-radius: 10px !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.modal-content {
    height: max-content;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100vh;
}

.modal {
    overflow: auto;
}

#wrap #content {
    overflow: auto;
}

.mask {
    left: 0px;
    right: 0px;
}

.resman-overlay {
    z-index: 1000;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: wait;
    position: absolute;
    border-radius: 4px;
}

.resman-reloader {
    height: 15px;
    width: 15px;
    left: 50%;
    top: 50%;
    position: absolute;
}